<div>
  <div class="popup header">{{ "anomaliesCluster" | translate }}</div>
</div>

<div
  class="sections"
  *ngIf="
    spawnSections &&
    spawnSections.length > 0
  ">
  <div class="section" *ngFor="let section of spawnSections">
    <div class="anomaly-section-info">
      <div *ngIf="section.count == 1">{{ section.anomalyUniqueName | translate }}</div>
      <div *ngIf="section.count > 1">{{ section.anomalyUniqueName | translate }} x {{section.count}}</div>
      <div>{{ 'anomalyArtMaxCount' | translate: { count: section.maxCapacity } }}</div>
    </div>
    <div class="inventory" *ngIf="section.anomalySpawnItems">
      <ng-container *ngFor="let artefact of section.anomalySpawnItems">
        <div class="inventory-item inventory-item-width-1 inventory-item-height-1">
          <div class="inventory-item-percentage">{{Math.floor(artefact.probability * 100)}}%</div>
          <div class="inventory-item-image {{this.game}} inventory-item-x-{{artefact.item.gridX}} inventory-item-y-{{artefact.item.gridY}}" title="{{artefact.item.localeName | translate}}"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="anomalies-in-claster-container" *ngIf="anomalies != null && anomalies.length > 0">
  <div class="anomaly-in-claster" *ngFor="let anomaly of anomalies">
    <span>{{anomaly.count}} x {{anomaly.anomaly | translate}}</span>
  </div>
</div>

<div class="bottom" *ngIf="
anomalZone.anomaliySpawnSections &&
anomalZone.anomaliySpawnSections.length > 0
">
  <div class="button url-button" (click)="copyLink()">
    <span>Mark link</span>
  </div>
</div>

