
$trader-columns: 8;

.trader-container {
  display: flex;
  color: white;
  flex-direction: row;
  height: 800px;
  max-height: var(--wrapper-height);
  column-gap: 1rem;
}

.trader-info {
  display: flex;
  height: 150px;
}

.trader-bio {
  flex-grow: 1;
}

.trader-name {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.sell {
  width: fit-content;
}

.inventory-container {
  min-width: calc(($trader-columns + 1 ) * var(--inventory-cell-size));
  display: flex;
  justify-content: center;
}

.inventory {
  max-height: round(up, var(--wrapper-height) / 2, var(--inventory-cell-size));
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: repeat($trader-columns, var(--inventory-cell-size));
  min-width: calc($trader-columns * var(--inventory-cell-size));
}

.best-sell-item {
  display: flex;
  flex-direction: row;
}

.best-trade-trader-container {
  display: flex;
  flex-direction: column;
}

.best-trade-trader-name {
  font-weight: bold;
}

.best-trade-price {
  float: inline-start;
  min-width: 30px;
}

.trader-container-section {
  vertical-align: top;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(($trader-columns + 1) * var(--inventory-cell-size));
}

.trader-container-section.section-info {
  flex-grow: 1;
  min-width: calc($trader-columns * var(--inventory-cell-size));
  max-width: calc(($trader-columns + 2) * var(--inventory-cell-size));
}

.container {
  max-height: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.container.info {
  max-height: inherit;
}

.trader-sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sections-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  overflow-y: auto;
}

.trader-section {
  margin-block: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.trader-section:hover {
  background-color: #4d4d4d;
}

.trader-section.selected {
  border: 1px solid white;
}

.section.selected {
  border: 1px solid white;
}

.section {
  text-align: center;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.section:hover {
  background-color: rgba(white, 0.2);
}

.section-td {
  text-align: center;
}

.section div:nth-child(n) {
  border-bottom: 1px solid rgba(white, 0.2);
}

.section div:last-child {
  border-bottom: unset;
}

.relation-range {
  width: 50%;

  input {
    width: 100%;
    background-color: black;
  }

  input[type=range]::-webkit-slider-thumb {
    border: 1px solid white;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-runnable-track{
    border-radius: 3px;
  }

  .range-labels {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.condition {
  border: 1px solid grey;
}

.select-relation {
  color: white;
  background: transparent;
  border: unset;
}

.select-relation option {
  color: black;
}

.best-trade-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.best-sell-item:nth-child(even) {
  background-color: rgba(255,255,255,0.1);
}

.best-sell-item-price {
  flex-basis: 3rem;
}

.best-sell-container,.best-buy-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.best-sell-item-price-value {
  color: yellow;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.best-sell-title {
  border-bottom: 3px solid white;
}
