
$trader-columns: 9;
$cell: 50px;

.trader-container {
  display: flex;
  color: white;
  min-width: 1400px;
}

.trader-info {
  display: flex;
  height: 150px;
}

.actor.shoc {
  background-position: left -330px top -432px;
}

.ui_npc_u_barman {
  background-position: left -164px top -0px;
}

.ui_npc_u_trader {
  background-position: 0 0;
}

.ui_npc_u_stalker_do_balon_3 {
  background-position: left 0 top -108px;
}

.ui_npc_u_stalker_sv_balon_1 {
  background-position: left -164px top -108px;
}

.ui_npc_u_ucheniy_2, .yan_st_sakharov_name {
  background-position: left -330px top -0px;
}

.actor.cs {
  background-position: left -164px top -432px;
}

.esc_trader_stalkerbase_name, .agr_secret_trader_name, .agr_stalker_base_trader_name {
  background-position: left -0px top -216px;
}

.agr_duty_base_trader_name {
  background-position: left -330px top -324px;
}

.agr_barman_name {
  background-position: left -0px top -432px;
}

.gar_bandit_trader_name {
  background-position: left -0px top -324px;
}

.gar_bandit_barman_name {
  background-position: left -330px top -108px;
}

.val_freedom_trader_name, .val_freedom_barmen_name {
  background-position: left -164px top -324px;
}

.mar_csky_trader_name {
  background-position: left -164px top -216px;
}

.mar_csky_barman_name {
  background-position: left -330px top -216px;
}

.trader-bio {
  flex-grow: 1;
}

.trader-name {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.inventory {
  max-height: round(up, var(--wrapper-height) / 2, $cell);
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: repeat($trader-columns, $cell);
}

.best-sell-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.best-trade-trader-container {
  display: flex;
  flex-direction: column;
}

.best-trade-price {
  float: inline-start;
  min-width: 30px;
}

.trader-container-section {
  vertical-align: top;
  overflow-y: auto;
  overflow-x: hidden;
}

.trader-container-section.section-info {
  margin-right: 1rem;
  flex-grow: 1;
}

.container {
  max-height: 800px;
}

.container.info {
  margin-left: 1rem;
  max-height: round(up, (var(--wrapper-height) / 2 ) + 150px, $cell);
}

.trader-sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sections-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.trader-section {
  margin-block: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.trader-section:hover {
  background-color: #4d4d4d;
}

.trader-section.selected {
  border: 1px solid white;
}

.section.selected {
  border: 1px solid white;
}

.section {
  text-align: center;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.section:hover {
  background-color: rgba(white, 0.2);
}

.section-td {
  text-align: center;
}

.section div:nth-child(n) {
  border-bottom: 1px solid rgba(white, 0.2);
}

.section div:last-child {
  border-bottom: unset;
}

.relation-range {
  width: 50%;

  input {
    width: 100%;
    background-color: black;
  }

  input[type=range]::-webkit-slider-thumb {
    border: 1px solid white;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-runnable-track{
    border-radius: 3px;
  }

  .range-labels {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.condition {
  border: 1px solid grey;
}

.sections-select-container::-webkit-scrollbar-track {
	background-color: rgba(9,10,10,1);
  border: 1px solid #555656;
}

.sections-select-container::-webkit-scrollbar-thumb {
	background-color:rgba(9,10,10,1);
  border: 1px solid white;
  margin: 3px;
}

.sections-select-container::-webkit-scrollbar {
  border: 1px solid white;
}

.trader-container-section::-webkit-scrollbar-track {
	background-color: rgba(9,10,10,1);
  border: 1px solid #555656;
}

.trader-container-section::-webkit-scrollbar-thumb {
	background-color:rgba(9,10,10,1);
  border: 1px solid white;
  margin: 3px;
}

.trader-container-section::-webkit-scrollbar {
  border: 1px solid white;
}

.select-relation {
  color: white;
  background: transparent;
  border: unset;
}

.select-relation option {
  color: black;
}
