.guide-container {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.paths {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.paths .path {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
}

.destination {
    white-space: nowrap;
}

.guide-name {
    font-size: 20px;
}