@if (item && selectedItemUpgrade) {
    <div class="selected-item-upgrades">
        @for (upgradeSection of selectedItemUpgrade.upgradeSections; track upgradeSection; let sectionIndex = $index) {
            <div id="section-{{sectionIndex}} {{upgradeSection.name}}" class="upgrade-section">
                    @for (upgrade of upgradeSection.elements; track upgrade; let elementIndex = $index) {
                        <div id="{{upgrade.name}}" tooltip [component]="upgradeTooltipComponent" [componentData]="{upgrade: upgrade, discount: selectedDiscount.value, upgradeProperties: upgradeProperties, game: game }" class="upgrade-item {{game}} {{upgrade.texture}} section-{{sectionIndex}} branch-{{upgradeSection.branch}}"
                            [ngStyle]="{ 'left': selectedItemUpgrade.scheme[upgrade.schemeIndexX][upgrade.schemeIndexY].x + upgrade.schemeIndexX * 15 + 'px', 'top': selectedItemUpgrade.scheme[upgrade.schemeIndexX][upgrade.schemeIndexY].y + 'px', 'background-position': 'left -' + upgrade.iconX + 'px top -' + upgrade.iconY + 'px' }" (click)="selectUpgrade(upgrade, upgradeSection)"
                            [ngClass]="{'need-previous-upgrades': upgradeSection.needPreviousUpgrade && upgradeSection.needPreviousUpgrade.length > 0}">
                            
                            @if (!(upgrade.isLocked || upgrade.needPreviousUpgrades)) {
                                <div class="upgrade-item-highlight upgrade-item-highlight-disabled-hover"></div>
                                <div class="upgrade-item-highlight upgrade-item-highlight-hover"></div>
                                <div class="upgrade-item-highlight upgrade-item-highlight-selected"
                                    [ngClass]="{'active': upgrade.isInstalled}"></div>
                                <div class="upgrade-item-highlight upgrade-item-highlight-disabled"
                                    [ngClass]="{'active': upgrade.isBlocked}"></div>
                            }
                            <div class="upgrade-item-highlight upgrade-item-highlight-locked"
                                [ngClass]="{'active': upgrade.isLocked || upgrade.needPreviousUpgrades}"></div>
                        </div>
                    }
            </div>
        }
    </div>
}