.header-menu {
  border-image: url(/assets/images/svg/interface/header.svg) 21 24 12 19;
  border-top: 21px solid;
  border-right: 24px solid;
  border-bottom: 12px solid;
  border-left: 19px solid;
  display: flex;
}
.header-menu > nav {
  margin-block: 10px;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .header-nav-item-full {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .header-nav-item-short {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .header-desktop
    .header-nav-items
    .header-nav-item {
    width: auto;
    flex-grow: 1;

    &.not-grow {
      flex-grow: unset;
    }
  }
  .header-desktop
    .header-nav-item-right {
    flex-basis: unset;
    flex-grow: 1;
  }
  .sub-header-panel {
    width: auto;
  }
}
.header-left {
  background: url(/assets/images/svg/interface/header-left.svg);
  height: 127px;
  width: 24px;
}
.header-right {
  background: url(/assets/images/svg/interface/header-right.svg);
  height: 127px;
  width: 24px;
}
.header-mid {
  width: 953px;
}
.header-nav-item-left {
  border-image: url(/assets/images/svg/interface/header-nav-left.svg) 3 40 3 5
    stretch stretch;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-left: 9px solid;
  border-right: 40px solid;
  margin: -1px 0;
  flex-grow: 1;
}
.header-nav-item-right {
  margin: -1px 0 -1px -37px;
  border-image: url(/assets/images/svg/interface/header-nav-right.svg) 8 9 3 40
    stretch stretch;
  border-top: 8px solid;
  border-bottom: 3px solid;
  border-left: 40px solid;
  border-right: 9px solid;
  flex-basis: 143px;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
}
.header-nav-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 35px;
  color: #fff;
}
.header-nav-item {
  border-image: url(/assets/images/svg/interface/header-nav-button.svg) 3 40
    fill stretch stretch;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-left: 40px solid;
  border-right: 40px solid;
  max-width: 240px;
  margin: -1px 0 -1px -37px;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 1;

  &.not-grow {
    flex-grow: unset;
  }
}
.header-nav-item:hover {
  border-image: url(/assets/images/svg/interface/header-nav-button-selected.svg)
    3 40 fill stretch stretch;
}
.header-nav-item > span {
  align-self: center;
  margin: 0;
  color: #fff;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.header-nav-item > p {
  align-self: center;
  margin: 0;
  color: #fff;
}
.ua {
  background-image: url(/assets/images/svg/interface/locales/ua.svg);
}
.ru {
  background-image: url(/assets/images/svg/interface/locales/ru.svg);
}
.en {
  background-image: url(/assets/images/svg/interface/locales/en.svg);
}
.language-selector {
  background: none;
  height: 100%;
}
.selected-language {
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  border: 1px solid white;
}
.language-options {
  z-index: 1101;
  position: relative;
}
.language-select {
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
}
header {
  background-color: #090a0a;
}
.header-mobile {
  height: 2rem;
  display: flex;
  flex-grow: 1;
}
.header-button {
  height: 100%;
  width: 2rem;
}
.menu-button {
  background-image: url(/assets/images/svg/interface/icons8-menu.svg);
}
.language-selector {
  background: 0;
  border: 0px;
  text-transform: uppercase;
  color: #fff;
}
.language-selector-option {
  color: #000;
}
body {
  max-height: 100vh;
  width: 100%;
  margin: 0;
}
html {
  background-color: #090a0a;
}
.header-mobile
  > .header-nav-items {
  flex-grow: 1;
}
.header-mobile
  > .header-nav-items
  .header-nav-item-right {
  flex-basis: auto;
}
.header-mobile
  > .header-nav-items
  .header-nav-item {
  width: unset;
}
.header-mobile
  > .header-nav-items
  .header-nav-item-games {
  display: flex;
}

.header-nav-item > span {
  align-self: center;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.github {
  background-image: url(/assets/images/svg/interface/github.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    align-self: center;
}
