<header>
  <div class="container-fluid">
    <div class="header-menu">
      <nav class="header-desktop">
        <div class="header-nav-items">
          <div class="header-nav-item-left"></div>
          <a class="header-nav-item header-nav-item-full" href="/map/shoc">
            <span>{{ 'shoc' | translate }}</span>
          </a>
          <a class="header-nav-item header-nav-item-full" href="/map/cs">
            <span>{{ 'cs' | translate }}</span>
          </a>
          <a class="header-nav-item header-nav-item-full" href="/map/cop">
            <span>{{ 'cop' | translate }}</span>
          </a>
          <a class="header-nav-item header-nav-item-short" href="/map/shoc">
            <span>{{ 'shocShort' | translate }}</span>
          </a>
          <a class="header-nav-item header-nav-item-short" href="/map/cs">
            <span>{{ 'csShort' | translate }}</span>
          </a>
          <a class="header-nav-item header-nav-item-short" href="/map/cop">
            <span>{{ 'copShort' | translate }}</span>
          </a>
          <div class="header-nav-item-right">
            <select class="language-selector" (change)="changeLanguage($event)">
              <ng-container *ngFor="let language of avaliableLanguages">
                <option class="language-selector-option" [value]="language" [selected]="selectedLanguage == language">{{language}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </nav>
    </div>

    <!--<div class="sub-header-container">
      <div class="sub-header-left"></div>
      <div
        id="sub-header-panel-scroll-left"
        class="sub-header-panel sub-header-panel-scroll"
      >
        <label>◀</label>
      </div>

      <div id="layers-control" class="sub-headers">
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-0"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-0"
                hidden=""
                checked=""
              /><label for="layer-0"></label><span> Локації</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-1"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-1"
                hidden=""
                checked=""
              /><label for="layer-1"></label><span> Схованки</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-2"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-2"
                hidden=""
                checked=""
              /><label for="layer-2"></label><span> Квестовий хабар</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-3"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-3"
                hidden=""
                checked=""
              /><label for="layer-3"></label><span> Хабар</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-4"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-4"
                hidden=""
                checked=""
              /><label for="layer-4"></label><span> Хабар в ящиках</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-5"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-5"
                hidden=""
                checked=""
              /><label for="layer-5"></label
              ><span> Родовища артефактів</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-6"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-6"
                hidden=""
              /><label for="layer-6"></label><span> Кислотна зона</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-7"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-7"
                hidden=""
              /><label for="layer-7"></label
              ><span> Псі-випромінювання</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-8"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-8"
                hidden=""
              /><label for="layer-8"></label><span> Радіоактивність</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-9"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-9"
                hidden=""
              /><label for="layer-9"></label><span> Термальна зона</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-10"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-10"
                hidden=""
              /><label for="layer-10"></label><span> Міни</span></span
            ></label
          >
        </div>
        <div class="sub-header-panel">
          <label class="sub-header-checkbox"
            ><span for="layer-11"
              ><input
                type="checkbox"
                class="leaflet-control-layers-selector"
                id="layer-11"
                hidden=""
              /><label for="layer-11"></label><span> Аномальні зони</span></span
            ></label
          >
        </div>
      </div>
      <div class="sub-header-panel sub-header-panel-scroll">
        <label>▶</label>
      </div>

      <div class="sub-header-right">
        <label class="sub-header-checkbox"
          ><span for="layer-3"
            ><input
              type="checkbox"
              hidden=""
              checked=""
              class="leaflet-control-layers-selector"
            /><label></label
            ><span id="hide-show-all-checkbox" style="white-space: nowrap"
              >Сховати все</span
            ></span
          ></label
        >
      </div>
    </div>-->
  </div>
</header>
