.trader {
    display: flex;
    flex-direction: row;
    columns: 20px;
}

.inventory {
    max-height: round(up, var(--wrapper-height) / 2, var(--inventory-cell-size));
    overflow-y: auto;
    overflow-x: hidden;
}