<div class="upgrade-title">
  {{ title | translate}}
</div>
<ng-container *ngIf="installed || locked || blocked; else upgradePrice">
  <div class="upgrade-installed margin-top" *ngIf="installed">
    {{'st_upgr_installed' | translate }}
  </div>
  <div class="upgrade-locked margin-top" *ngIf="locked">
    {{'st_upgr_cant_do' | translate }}
  </div>
  <div class="upgrade-locked margin-top" *ngIf="blocked">
    {{'st_upgr_group' | translate }}
  </div>
</ng-container>
<ng-template #upgradePrice>
  <div class="upgrade-price margin-top">
    {{'st_base_cost' | translate }}: {{price}}
  </div>
</ng-template>
<div class="upgrade-description margin-top">
  {{ description | translate}}
</div>
