.upgrade-price, .upgrade-title {
  font-size: 0.9rem;
}

.upgrade-description {
  font-size: 0.8rem;
  text-align: justify;
}

.margin-top {
  margin-top: 0.5rem;
}

.upgrade-installed {
  color: green;
}

.upgrade-locked {
  color: red;
}
