<div class="upgrade-title">
    {{ upgrade.localeName | translate}}
</div>
@if (upgrade.isInstalled || upgrade.isLocked || upgrade.isBlocked) {
    @if (upgrade.isInstalled) {
        <div class="upgrade-installed margin-top">{{'st_upgr_installed' | translate }}</div>
    }

    @if (upgrade.isLocked) {
        <div class="upgrade-locked margin-top">{{'st_upgr_cant_do' | translate }}</div>
    }

    @if (upgrade.isBlocked) {
        <div class="upgrade-locked margin-top"> {{'st_upgr_group' | translate }} </div>
    }
}
@else {
    <div class="upgrade-price margin-top">
        {{'st_base_cost' | translate }}: {{math.floor(upgrade.cost * discount)}}
    </div>
}

<div class="upgrade-description margin-top">
    {{ upgrade.description | translate}}
</div>
<div class="upgrade-properties">
    @for (prop of props; track prop) {
        <div class="upgrade-property">
            <div class="upgrade-property-name">
                <i class="upgrade-property-icon {{prop.icon}} {{game}}"></i>
                <span>{{prop.name | translate}}</span>
            </div>
            <div class="upgrade-property-value">{{upgrade.value}}</div>
        </div>
    }
</div>