.upgrade-price, .upgrade-title {
  font-size: 0.9rem;
}

.upgrade-description {
  font-size: 0.8rem;
  text-align: justify;
}

.margin-top {
  margin-top: 0.5rem;
}

.upgrade-installed {
  color: green;
}

.upgrade-locked {
  color: red;
}

.upgrade-properties {
  border-top: 1px dashed white;
  margin-top: 1rem;
}

.upgrade-property {
  display: flex;
}

.upgrade-property-name::before {
  width: 1rem;
  height: 1rem;
  background-color: aqua;
}

.upgrade-property-value {
  margin-left: 1rem;
}
