.item-attachments {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .item-attachment {
    position: absolute;
  }
  
  .item-attachment {
    background-image: url(/assets/images/items/attachments.png);
    background-size: calc(var(--inventory-cell-size) * var(--item-width-in-cell));
  }
  
.popup-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header {
  color: white
}