.item-attachments {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .item-attachment {
    position: absolute;
  }
  
  .item-attachment {
    background-image: url(/assets/images/items/attachments.png);
  }
  