
$trader-columns: 9;

.mechanic-container {
  display: flex;
  color: white;
  max-width: 1200px;
  column-gap: 1rem;
}

.mechanic-container-section {
  min-width: 350px;

  /*&.section-info.cs {
    min-width: 0;
    width: 0;
    margin-left: 0;
  }*/
}

.mechanic-container-section.actor {
  width: calc(($trader-columns + 1 ) * var(--inventory-cell-size));
  min-width: calc(($trader-columns + 1 ) * var(--inventory-cell-size));
  max-height: var(--wrapper-height);
}

.mechanic-container-section.section-info {
  overflow-x: hidden;
  overflow-y: auto;
}

.sections-select-container {
  max-height: inherit;
  overflow-y: auto;
  max-height: 200px;
}

.inventory-container {
  min-width: calc(($trader-columns + 1 ) * var(--inventory-cell-size));
  display: flex;
  justify-content: center;
}

.mechanic-info {
  display: flex;
}

.mechanic-bio {
  flex-grow: 1;
}

.mechanic-name {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buy.container {
  min-width: calc(($trader-columns + 1 ) * var(--inventory-cell-size));
}

.inventory {
  max-height: round(up, var(--wrapper-height) / 2, var(--inventory-cell-size));
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: repeat($trader-columns, var(--inventory-cell-size));
}

.section.selected {
  border: 1px solid white;
}

.section {
  text-align: center;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.section:hover {
  background-color: rgba(white, 0.2);
}

.section-td {
  text-align: center;
}

.section div:nth-child(n) {
  border-bottom: 1px solid rgba(white, 0.2);
}

.section div:last-child {
  border-bottom: unset;
}

.upgraded-param {
  color: green;
}

app-item-property-bar, app-item-property-number {
  display: contents;
}

.dispersion-title, .dynamic-title {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
}

.dispersion-title .upgrade-property-icon, .dynamic-title .upgrade-property-icon {
    display: block;
}