
$trader-columns: 9;
$cell: 50px;

.mechanic-container {
  display: flex;
  color: white;
  height: 800px;
  max-width: 1200px;
}

.mechanic-container-section {
  min-width: 350px;

  /*&.section-info.cs {
    min-width: 0;
    width: 0;
    margin-left: 0;
  }*/
}

.mechanic-container-section.actor {
  margin-left: 1rem;
  width: calc(($trader-columns + 1 ) * $cell);
  min-width: calc(($trader-columns + 1 ) * $cell);
  max-height: var(--wrapper-height);
}

.mechanic-container-section.section-info {
  overflow-x: hidden;
  overflow-y: auto;
}

.sections-select-container {
  max-height: inherit;
  overflow-y: auto;
  max-height: 200px;
}

.section-info {
  margin-left: 1rem;
}

.inventory-container {
  min-width: calc(($trader-columns + 1 ) * $cell);
  display: flex;
  justify-content: center;
}

.mechanic-info {
  display: flex;
  height: 150px;
}

.mechanic-bio {
  flex-grow: 1;
}

.mechanic-name {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.container {
  max-height: 800px;
}

.buy.container {
  min-width: calc(($trader-columns + 1 ) * $cell);
}

.inventory {
  max-height: round(up, var(--wrapper-height) / 2, $cell);
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: repeat($trader-columns, $cell);
}

.section.selected {
  border: 1px solid white;
}

.section {
  text-align: center;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.section:hover {
  background-color: rgba(white, 0.2);
}

.section-td {
  text-align: center;
}

.section div:nth-child(n) {
  border-bottom: 1px solid rgba(white, 0.2);
}

.section div:last-child {
  border-bottom: unset;
}

.upgraded-param {
  color: green;
}

app-item-property-bar, app-item-property-number {
  display: contents;
}
