<div class="mechanic-container">
  <div class="mechanic-container-section">
    <stalker-profile [profile]="mechanic.profile" [game]="game" [rankSetting]="rankSetting"></stalker-profile>
    <div class="mechanic-upgrades" *ngIf="selectedItem">
      <div class="upgrade-item-image-container">
        <div *ngIf="game == 'cs'"
        class="inventory-item-image {{game}} inventory-item-x-{{selectedItem.gridX}} inventory-item-y-{{selectedItem.gridY}}"
        [ngStyle]="{'width': selectedItem.width * 50 + 'px', 'height': selectedItem.height * 50 + 'px'}"></div>
        <div *ngIf="game == 'cop'" class='upgrade-item-image {{selectedItem.category}}'
        [ngStyle]="{
          'width': selectedItem.upgr_icon_width + 'px',
          'height': selectedItem.upgr_icon_height + 'px',
          'background-position': 'left -' + selectedItem.upgr_icon_x + 'px top -' + selectedItem.upgr_icon_y + 'px'}">

        </div>
      </div>
      <div class="selected-item-upgrades" *ngIf="selectedItem && selectedItemUpgrade">
        <ng-container *ngFor="let upgradeSection of selectedItemUpgrade.upgradeSections; let sectionIndex = index">
          <div id="section-{{sectionIndex}}" class="upgrade-section">
            <ng-container *ngFor="let upgrade of upgradeSection.elements; let elementIndex = index">
              <div tooltip [component]="upgradeTooltipComponent" [componentData]="{upgrade: upgrade, discount: selectedDiscount.value, upgradeProperties: upgradeProperties, game: game }" class="upgrade-item {{game}} {{upgrade.texture}} section-{{sectionIndex}} branch-{{upgradeSection.branch}}" [ngStyle]="{
                'left': selectedItemUpgrade.scheme[upgrade.schemeIndexX][upgrade.schemeIndexY].x + upgrade.schemeIndexX * 15 + 'px',
                'top': selectedItemUpgrade.scheme[upgrade.schemeIndexX][upgrade.schemeIndexY].y + 'px',
                'background-position': 'left -' + upgrade.iconX + 'px top -' + upgrade.iconY + 'px'
              }" (click)="selectUpgrade(upgrade, upgradeSection)">
                <ng-container *ngIf="!upgrade.isLocked">
                  <div class="upgrade-item-highlight upgrade-item-highlight-disabled-hover"></div>
                  <div class="upgrade-item-highlight upgrade-item-highlight-hover"></div>
                  <div class="upgrade-item-highlight upgrade-item-highlight-selected" [ngClass]="{'active': upgrade.isInstalled}"></div>
                  <div class="upgrade-item-highlight upgrade-item-highlight-disabled" [ngClass]="{'active': upgrade.isBlocked}"></div>
                </ng-container>
                <div class="upgrade-item-highlight upgrade-item-highlight-locked" [ngClass]="{'active': upgrade.isLocked}"></div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="mechanic-container-section section-info {{game}}">
    <div class="info container">
      <div class="sections-select-container custom-scroll" *ngIf="discounts && discounts.length > 0">
        <table style="width: 100%;">
          <tr>
            <ng-container>
              <td class="section-td">{{ 'discounts' | translate}}</td>
            </ng-container>
          </tr>
          <ng-container *ngFor="let discount of discounts">
            <tr>
              <td class="section" (click)="selectDiscount(discount)" [ngClass]="{'selected': selectedDiscount && selectedDiscount.condition == discount.condition}">
                <ng-container *ngIf="!discount.condition">{{ "discount_default" | translate}}</ng-container>
                <ng-container *ngIf="discount.conditions">
                  <ng-container *ngFor="let cond of discount.conditions">
                    <div>{{ cond | translate}}</div>
                  </ng-container>
                </ng-container>

                  <ng-container *ngIf="discount.value != 1">
                    <div *ngIf="discount.value > 1">{{ 'bad_mechanic_price' | translate}}: +{{ Math.round((discount.value - 1) * 100)}}%</div>
                    <div *ngIf="discount.value < 1">{{ 'good_mechanic_price' | translate}}: {{ Math.round((discount.value - 1) * 100)}}%</div>
                  </ng-container>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>

      <div class="weapon-data" [hidden]="selectedItem == null || selectedItem.$type != 'weapon'">
        <div class="weapon-info" *ngIf="selectedItem && selectedItem.$type == 'weapon'">
          <div class="weapon-rpm">
            <span>{{ selectedItem.localeName | translate }}</span>
          </div>
          <div class="weapon-rpm">
            <i class="cop ui_wp_prop_skorostrelnost upgrade-property-icon"></i>
            <span>Скорострільність</span>:
            <span>{{selectedItem.rpm}} / хв</span>
            <span *ngIf="selectedItem.rpm != selectedItemForUpgrades.rpm" class="upgraded-param"> ({{selectedItemForUpgrades.rpm}})</span>
          </div>
          <div class="weapon-reliability">
            <span>Ресурс ствола</span>:
            <span>{{Math.ceil(1 / selectedItem.conditionShotDec)}} пострілів</span>
            <span *ngIf="selectedItem.conditionShotDec != selectedItemForUpgrades.conditionShotDec" class="upgraded-param"> ({{Math.ceil(1 / selectedItemForUpgrades.conditionShotDec)}})</span>
          </div>

          <div class="weapon-reliability">
            <span>Дисперсія</span>:
            <span>{{selectedItem.fireDispersionBase}} градусів</span>
            <span *ngIf="selectedItem.fireDispersionBase != selectedItemForUpgrades.fireDispersionBase" class="upgraded-param"> ({{selectedItemForUpgrades.fireDispersionBase}})</span>
          </div>

          <div class="weapon-reliability">
            <span>Максимальна дисперсія</span>:
            <span>{{selectedItem.fireDispersionConditionFactor}}%</span>
            <span *ngIf="selectedItem.fireDispersionConditionFactor != selectedItemForUpgrades.fireDispersionConditionFactor" class="upgraded-param"> ({{selectedItemForUpgrades.fireDispersionConditionFactor}})</span>
          </div>

          <!--<div class="weapon-reliability">
            <span>Вірогідність клину</span>:
            <span>{{selectedItem.misfireProbability}}%</span>
            <span *ngIf="selectedItem.misfireProbability != selectedItemForUpgrades.misfireProbability" class="upgraded-param"> ({{selectedItemForUpgrades.misfireProbability}})</span>
          </div>

          <div class="weapon-reliability">
            <span>Клин, починаючи з стану</span>:
            <span>{{selectedItem.misfireConditionK}}%</span>
            <span *ngIf="selectedItem.misfireConditionK != selectedItemForUpgrades.misfireConditionK" class="upgraded-param"> ({{selectedItemForUpgrades.misfireConditionK}})</span>
          </div>-->

          <!--<div class="weapon-reliability">
            <span>Вірогідність клину</span>:
            <span>{{Math.ceil(1 / selectedItem.conditionShotDec)}} пострілів</span>
            <span *ngIf="selectedItem.conditionShotDec != selectedItemForUpgrades.conditionShotDec" class="upgraded-param"> ({{Math.ceil(1 / selectedItemForUpgrades.conditionShotDec)}})</span>
          </div>-->
          <div class="weapon-reliability">
            <span>Стартова швидкість кулі</span>:
            <span>{{selectedItem.bulletSpeed}} м/с</span>
            <span *ngIf="selectedItem.bulletSpeed != selectedItemForUpgrades.bulletSpeed" class="upgraded-param"> ({{selectedItemForUpgrades.bulletSpeed}})</span>
          </div>
          <div class="weapon-reliability">
            <span>Дистанція стрільби</span>:
            <span>{{selectedItem.fireDistance}} м</span>
            <span *ngIf="selectedItem.fireDistance != selectedItemForUpgrades.fireDistance" class="upgraded-param"> ({{selectedItemForUpgrades.fireDistance}})</span>
          </div>
          <div class="weapon-reliability">
            <span>{{'ui_ammo_count' | translate}}</span>:
            <span>{{selectedItem.ammoMagazineSize}}</span>
            <span *ngIf="selectedItem.ammoMagazineSize != selectedItemForUpgrades.ammoMagazineSize" class="upgraded-param"> ({{selectedItemForUpgrades.ammoMagazineSize}})</span>
          </div>
          <div class="weapon-reliability">
            <span>{{'st_prop_weight' | translate}}</span>:
            <span>{{selectedItem.weight}}</span>
            <span *ngIf="selectedItem.weight != selectedItemForUpgrades.weight" class="upgraded-param"> ({{selectedItemForUpgrades.weight}})</span>
          </div>
        </div>
        <div class="dispersion-chart">
          <div class="dispersion-title">
            {{ 'recoil' | translate }}
          </div>
          <canvas id="dispersion-chart-canvas" class="chart"></canvas>
        </div>
        <div class="dynamic-chart">
          <div class="dynamic-title">
            {{ 'Балістика кулі' | translate }} ({{ 'st_prop_bullet_speed' | translate }})
          </div>
          <canvas id="dynamic-chart-canvas" class="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="mechanic-container-section actor">
    <div class="buy container">
      <div class="mechanic-info">
        <div class="mechanic-bio">
          <div class="mechanic-name">{{ 'actor_name' | translate}}</div>
        </div>
        <div class="stalker-avatar {{game}}" [ngStyle]="{'width': actor.iconWidth + 'px', 'height': actor.iconHeight + 'px', 'background-position': 'left ' + (-actor.iconX) + 'px top ' + (-actor.iconY) + 'px'}"></div>
      </div>
      <div class="inventory-container">
        <div class="buy inventory">
            <ng-container *ngFor="let item of itemsToRepait">
              <div tooltip [component]="itemTooltipComponent" [componentData]="{item: item}" class="inventory-item inventory-item-width-{{item.width}} inventory-item-height-{{item.height}}" (click)="selectItem(item)">
                <div class="item-additional-info">
                  <div class="inventory-item-count">
                    {{Math.floor(item.price * repairPriceFactor * selectedDiscount.value)}}
                  </div>
                  <div class="inventory-item-upgrade" *ngIf="item.installedUpgrades && item.installedUpgrades.length > 0"></div>
                </div>
                <div class="inventory-item-image {{game}} inventory-item-x-{{item.gridX}} inventory-item-y-{{item.gridY}}">
                  <div *ngIf="item.hasScope && item.scopeX > -1000 && item.scopeY > -1000" class="wpn_addon scope" [style.left.px]="item.scopeX" [style.top.px]="item.scopeY"></div>
                  <div *ngIf="item.hasSilencer && item.silencerX > -1000 && item.silencerY > -1000" class="wpn_addon silencer" [style.left.px]="item.silencerX" [style.top.px]="item.silencerY"></div>
                  <div *ngIf="item.hasGrenadeLauncher && item.grenadeLauncherX > -1000 && item.grenadeLauncherY > -1000" class="wpn_addon grenade-launcher" [style.left.px]="item.grenadeLauncherX" [style.top.px]="item.grenadeLauncherY"></div>
                </div>
              </div>
            </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
<div class="button url-button">
  <span>{{ 'markLink' | translate}}</span>
</div>
</div>
