<div>
    <div class='popup header'>{{ 'stuff_at_location' | translate}}</div>
</div>
@if (items && items.length > 0) {
    <div class="inventory inventory-columns-7">
        @for (stuffItem of items; track stuffItem) {
            <div tooltip [component]="itemTooltipComponent" [componentData]="{item: stuffItem.item}" class="inventory-item {{this.game.gameStyle}} inventory-item-width-{{stuffItem.item.width}} inventory-item-height-{{stuffItem.item.height}}">
                @if (stuffItem.count > 1) {
                    <div class="inventory-item-count-hoc">{{stuffItem.count}}</div>
                }

                <div class="item-additional-info">
                    @if (stuffItem.item.installedUpgrades && stuffItem.item.installedUpgrades.length > 0) {
                        <div class="inventory-item-upgrade"></div>
                    }
                </div>
                <div
                    class="inventory-item-image hoc inventory-item-x-{{stuffItem.item.gridX}} inventory-item-y-{{stuffItem.item.gridY}}">
                </div>

                @if (stuffItem.preinstalled.length > 0) {
                    <div class="item-attachments">
                        @for (attachment of stuffItem.preinstalled; track attachment) {
                            <div class="item-attachment inventory-item-x-{{attachment.gridX}} inventory-item-y-{{attachment.gridY}}" [ngStyle]="{'width': stuffItem.item.width * 130 + 'px', 'height': stuffItem.item.height * 130+ 'px'}"></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}
<div class="bottom">
    <div class="button url-button" (click)="copyLink()">
        <span>{{ 'markLink' | translate}}</span>
    </div>
    <!--<app-hide-unhide [marker]="{lat: stuff.z, lng: stuff.x, layerName: stuffType, game: game, isUnderground: isUnderground}"></app-hide-unhide>-->
</div>