<div class="underground-popup">
    <div class="location-name icon-undeground-door stalker-icon">{{ location.uniqueName | translate }}</div>
    <div class="undeground-settings">
      <div *ngIf="undergroundConfig">
        <div class="levels">
          <div *ngFor="let layer of undergroundConfig.levels" class="level" (click)="setLayer(layer)" [ngClass]="{'selected': layer == selectedLevel}">
            {{ layer }}
          </div>
        </div>
      </div>
    </div>
    <div id="underground-map"></div>
</div>
<div [hidden]="true">
  <template #dynamicComponents></template>
</div>
