.underground-popup {
    width: 500px;
    height: 500px;
}

.levels {
  display: flex;
  color: white;
}

.level {
  flex-grow: 1;
}

#underground-map {
    width: 100%;
    height: 100%;
    background-color: #090a0a;
}
