
<div class="profile-info">
  <div class="profile-name stalker-icon icon-{{profile.faction}}">{{profile.name | translate}}</div>
  <div class="profile-data">
    <div class="profile-data-info">
      <div class="profile-rank">{{rank | translate }}</div>
      <div *ngIf="hasInfinityMoney" class="profile-money">--- RU</div>
      <div *ngIf="!hasInfinityMoney" class="profile-money">{{money}} RU</div>
    </div>
    <div class="stalker-avatar {{game}}" [ngStyle]="{'width': profile.iconWidth + 'px', 'height': profile.iconHeight + 'px', 'background-position': 'left ' + (-profile.iconX) + 'px top ' + (-profile.iconY) + 'px'}"></div>
  </div>
</div>
