.bread {
  background-position: 474px 1598px
}

.kolbasa {
  background-position: 74px 1448px
}

.conserva {
  background-position: 574px 1398px
}

.vodka {
  background-position: 774px 1948px
}

.energy_drink {
  background-position: 74px 1698px
}

.bandage {
  background-position: 874px 1148px
}

.antirad {
  background-position: 124px 1448px
}

.medkit {
  background-position: 724px 1348px
}

.medkit_army {
  background-position: 524px 1548px
}

.medkit_scientic {
  background-position: 424px 1598px
}

.drug_booster {
  background-position: 124px 1698px
}

.drug_coagulant {
  background-position: 374px 1448px
}

.drug_psy_blockade {
  background-position: 624px 1498px
}

.drug_antidot {
  background-position: 574px 1498px
}

.drug_radioprotector {
  background-position: 574px 1548px
}

.drug_anabiotic {
  background-position: 824px 1648px
}

.bandit_cool_outfit {
  background-position: left 0 top -900px
}

.stalker_outfit,.stalker_outfit_barge {
  background-position: 724px 1298px
}

.svoboda_light_outfit {
  background-position: left -600px top -650px
}

.dolg_outfit,.outfit_dolg_m1 {
  background-position: left -600px top -800px
}

.scientific_outfit {
  background-position: 324px 1248px
}

.cs_heavy_outfit {
  background-position: 624px 1098px
}

.svoboda_heavy_outfit {
  background-position: left -400px top -750px
}

.svoboda_heavy_outfit.shoc {
  background-position: left -900px top -1100px
}

.specops_outfit,.outfit_specnaz_m1 {
  background-position: left -500px top -650px
}

.military_outfit {
  background-position: left -900px top -850px
}

.military_outfit.shoc {
  background-position: left -900px top -1250px
}

.dolg_heavy_outfit {
  background-position: left -800px top -800px
}

.exo_outfit,.outfit_exo_m1 {
  background-position: 324px 1398px
}

.novice_outfit,.outfit_novice_m1 {
  background-position: left -400px top -1350px
}

.bandit_outfit,.outfit_bandit_m1 {
  background-position: left -400px top -1450px
}

.cs_light_outfit {
  background-position: left -600px top -1350px
}

.svoboda_exo_outfit {
  background-position: left -700px top -1350px
}

.killer_outfit,.outfit_killer_m1 {
  background-position: left -200px top -1350px
}

.monolit_outfit {
  background-position: left -300px top -1350px
}

.dolg_scientific_outfit {
  background-position: left -500px top -1350px
}

.ecolog_outfit {
  background-position: left 0px top -1350px
}

.protection_outfit {
  background-position: left -100px top -1350px
}

.helm_respirator,.helm_respirator_joker {
  background-position: left -200px top -900px
}

.helm_hardhat {
  background-position: left -300px top -1000px
}

.helm_protective {
  background-position: left -200px top -1000px
}

.helm_tactic {
  background-position: left -100px top -1000px
}

.helm_battle {
  background-position: left 0 top -1000px;
}

.detector_simple {
  background-position: left -450px top -700px
}

.detector_advanced {
  background-position: left -750px top -350px
}

.detector_elite {
  background-position: left -250px top -700px
}

.detector_scientific {
  background-position: left -950px top -1050px
}

.ammo_9x39_sp5.shoc {
  background-position: left -900px top -550px
}

.wpn_addon_scope_x2\.7 {
  background-position: left -500px top -800px
}

.wpn_addon_scope_susat_x1\.6 {
  background-position: left -500px top -900px
}

.mutant_psevdodog_tail {
  background-position: left -900px top -1400px
}
