<app-header>
  <div class="sub-header-container">
    <div class="sub-header-left"></div>
    <div
      id="sub-header-panel-scroll-left"
      class="sub-header-panel sub-header-panel-scroll"
    >
      <label>◀</label>
    </div>
    <!---->
    <div id="layers-control" class="sub-headers">

    </div>
    <div class="sub-header-panel sub-header-panel-scroll"><label>▶</label></div>
    <!---->
    <div class="sub-header-right">
      <label class="sub-header-checkbox"
        ><span for="layer-3"
          ><input
            type="checkbox"
            hidden=""
            checked=""
            class="leaflet-control-layers-selector"
            (change)="showHideAll($event)"
          /><label></label
          ><span id="hide-show-all-checkbox" style="white-space: nowrap"
            >{{ 'hideAll' | translate }}</span
          ></span
        ></label
      >
    </div>
  </div>
</app-header>

<div class="container-fluid">
  <div id="map-wrapper" style="height: 1139.67px">
    <div id="map" style="height: 100%; background: rgb(9, 10, 10)"></div>
  </div>
</div>
