.wpn_abakan,.wpn_abakan_m1,.wpn_abakan_m2 {
  background-position: 724px 1948px;
}

.wpn_ak74,.wpn_ak74_m1 {
  background-position: 774px 1798px;
}

.wpn_ak74u,.wpn_ak74u_m1 {
  background-position: 1024px 1248px;
}

.wpn_fn2000 {
  background-position: 774px 1598px;
}

.wpn_g36 {
  background-position: 1024px 1548px;
}

.wpn_groza,.wpn_groza_m1 {
  background-position: 1024px 1348px;
}

.wpn_l85,.wpn_l85_m1,.wpn_l85_m2 {
  background-position: 1024px 1448px;
}

.wpn_lr300,.wpn_lr300_m1 {
  background-position: 1024px 1748px;
}

.wpn_mp5,.wpn_mp5_m1,.wpn_mp5_m2 {
  background-position: 774px 1498px;
}

.wpn_sig550,.wpn_sig_m1,.wpn_sig_m2 {
  background-position: 774px 1698px;
}

.wpn_val,.wpn_val_m1 {
  background-position: 274px 1848px;
}

.wpn_beretta {
  background-position: 824px 798px;
}

.wpn_colt1911,.wpn_colt_m1 {
  background-position: 624px 798px;
}

.wpn_desert_eagle,.wpn_eagle_m1 {
  background-position: 724px 798px;
}

.wpn_fort,.wpn_fort_m1 {
  background-position: 1024px 798px;
}

.wpn_hpsa {
  background-position: 924px 748px;
}

.wpn_pb {
  background-position: 274px 1748px;
}

.wpn_pm {
  background-position: 824px 748px;
}

.wpn_sig220 {
  background-position: 774px 748px;
}

.wpn_usp {
  background-position: left -100px top -1250px;
}

.wpn_walther,.wpn_walther_m1 {
  background-position: 1024px 748px;
}

.wpn_bm16,.hunters_toz {
  background-position: 724px 1998px;
}

.wpn_protecta {
  background-position: 1024px 898px;
}

.wpn_spas12,.wpn_spas12_m1 {
  background-position: 424px 1898px;
}

.wpn_toz34 {
  background-position: 424px 1948px;
}

.wpn_wincheaster1300,.wpn_winchester_m1 {
  background-position: 524px 1798px;
}

.grenade_f1 {
  background-position: 574px 1598px;
}

.grenade_rgd5 {
  background-position: 524px 1598px;
}

.wpn_gauss {
  background-position: 524px 1748px;
}

.wpn_svd {
  background-position: 0 0;
}

.wpn_svu {
  background-position: 1024px 1948px;
}

.wpn_vintorez {
  background-position: 0 1848px;
}

.wpn_pkm {
  background-position: 0 248px;
}

.wpn_rg-6,.wpn_rg6_m1 {
  background-position: 1024px 1648px;
}

.wpn_rpg7 {
  background-position: 724px 2048px;
}

.ammo_9x18_fmj {
  background-position: 474px 1448px;
}

.ammo_9x18_pmm {
  background-position: 424px 1448px;
}

.ammo_9x19_fmj {
  background-position: 274px 1448px;
}

.ammo_9x19_pbp {
  background-position: 324px 1448px;
}

.ammo_pkm_100 {
  background-position: 224px 1398px;
}

.ammo_9x39_pab9 {
  background-position: 174px 1548px;
}

.ammo_9x39_ap {
  background-position: 774px 1448px;
}

.ammo_12x70_buck {
  background-position: 374px 1598px;
}

.ammo_12x76_zhekan {
  background-position: 474px 1548px;
}

.ammo_og-7b {
  background-position: 274px 1098px;
}

.ammo_vog-25 {
  background-position: 74px 1598px;
}

.ammo_m209 {
  background-position: 774px 1398px;
}

.ammo_9x39_sp5 {
  background-position: left -850px top -500px;
}

.ammo_12x76_dart {
  background-position: 374px 1548px;
}

.ammo_vog-25p {
  background-position: 74px 1548px;
}

.ammo_11\.43x23_fmj {
  background-position: left -450px top -600px;
}

.ammo_11\.43x23_hydro {
  background-position: left -350px top -600px;
}

.ammo_5\.56x45_ss190 {
  background-position: left -700px top -550px;
}

.ammo_5\.45x39_fmj {
  background-position: left -800px top -550px;
}

.ammo_5\.45x39_ap {
  background-position: left -600px top -550px;
}

.ammo_5\.56x45_ap {
  background-position: left -500px top -550px;
}

.ammo_7\.62x54_7h1 {
  background-position: left -850px top -450px;
}

.ammo_7\.62x54_ap {
  background-position: left -750px top -500px;
}

.ammo_7\.62x54_7h14 {
  background-position: left -850px top -450px;
}

.ammo_gauss {
  background-position: left -200px top -700px;
}
