.toolkit_1 {
  background-position: left -800px top -700px;
}

.toolkit_2 {
  background-position: left -800px top -750px;
}

.toolkit_3 {
  background-position: left -600px top -1200px;
}

.flesh_up_ac_mp5, .flesh_up_ac_wincheaster1300, .flesh_up_bd_wincheaster1300, .flesh_up_ac_spas12, .flesh_up_bd_desert_eagle, .flesh_up_ac_desert_eagle {
  background-position: left -550px top -1100px;
}

.flesh_up_ab_pkm, .flesh_up_cd_pkm, .flesh_up_fh_scientific_outfit, .flesh_up_aceg_scientific_outfit, .flesh_up_bdfh_scientific_outfit, .flesh_up_ab_svu, .flesh_up_cd_svu {
  background-position: left -550px top -1150px;
}

.quest_case_01, .quest_case_02 {
  background-position: left -400px top -900px;
}

.decoder {
  background-position: left -600px top -1250px;
}

.jup_b200_tech_materials_textolite {
  background-position: left -100px top -950px;
}

.jup_b200_tech_materials_acetone {
  background-position: left -100px top -900px;
}

.jup_b200_tech_materials_capacitor {
  background-position: left -550px top -1050px;
}

.jup_b200_tech_materials_transistor {
  background-position: left -500px top -1050px;
}

.jup_b200_tech_materials_wire {
  background-position: left -700px top -950px;
}

.jup_b205_sokolov_note {
  background-position: left -600px top -1100px;
}

.zat_a23_gauss_rifle_docs {
  background-position: left -800px top -1050px;
}

.zat_b39_joker_pda {
  background-position: left -300px top -650px;
}

.zat_b40_notebook {
  background-position: left -350px top -650px;
}
