.toolkit_1 {
  background-position: left -800px top -700px;
}

.toolkit_2 {
  background-position: left -800px top -750px;
}

.toolkit_3 {
  background-position: left -600px top -1200px;
}

.flesh_up_ac_mp5, .flesh_up_ac_wincheaster1300, .flesh_up_bd_wincheaster1300, .flesh_up_ac_spas12, .flesh_up_bd_desert_eagle, .flesh_up_ac_desert_eagle {
  background-position: left -550px top -1100px;
}

.flesh_up_ab_pkm, .flesh_up_cd_pkm, .flesh_up_fh_scientific_outfit, .flesh_up_aceg_scientific_outfit, .flesh_up_bdfh_scientific_outfit, .flesh_up_ab_svu, .flesh_up_cd_svu {
  background-position: left -550px top -1150px;
}

.quest_case_01, .quest_case_02 {
  background-position: left -400px top -900px;
}

.decoder {
  background-position: left -600px top -1250px;
}

.jup_b200_tech_materials_textolite {
  background-position: left -100px top -950px;
}

.jup_b200_tech_materials_acetone {
  background-position: left -100px top -900px;
}

.jup_b200_tech_materials_capacitor {
  background-position: left -550px top -1050px;
}

.jup_b200_tech_materials_transistor {
  background-position: left -500px top -1050px;
}

.jup_b200_tech_materials_wire {
  background-position: left -700px top -950px;
}

.jup_b205_sokolov_note {
  background-position: left -600px top -1100px;
}

.zat_a23_gauss_rifle_docs {
  background-position: left -800px top -1050px;
}

.zat_b39_joker_pda,.zat_b44_barge_pda,.device_pda_fang,.device_pda_old {
  background-position: left -300px top -650px;
}

.zat_b40_notebook {
  background-position: left -350px top -650px;
}

.pri_decoder_documents {
  background-position: left -900px top -1450px;
}

.wpn_addon_scope {
  background-position: left -500px top -850px;
}

.wpn_addon_scope_detector {
  background-position: left -200px top -800px;
}

.wpn_addon_scope_night {
  background-position: left -200px top -850px;
}

.wpn_addon_scope_susat {
  background-position: left -550px top -900px;
}

.wpn_addon_scope_susat_custom {
  background-position: left -750px top -1100px;
}

.wpn_addon_scope_susat_dusk {
  background-position: left -250px top -750px;
}

.wpn_addon_scope_susat_night {
  background-position: left -700px top -1100px;
}

.wpn_addon_silencer, .wpn_addon_silencer_rifle {
  background-position: left -900px top -50px;
}

.wpn_addon_grenade_launcher {
  background-position: left -900px top 0px;
}

.wpn_addon_grenade_launcher_m203 {
  background-position: left -850px top -150px;
}

.wpn_addon_scope_4x {
  background-position: left -900px top -100px;
}

.wpn_addon_scope_x2\.7 {
  background-position: left -500px top -800px;
}
.wpn_addon_scope_susat_x1\.6 {
  background-position: left -500px top -900px;
}

.wpn_lr300, .wpn_lr300_m1, .wpn_sig550,
.wpn_sig_m1, .wpn_sig_m2 {
  .wpn_addon.scope {
    background-position: left -550px top -900px;
    width: 50px;
    height: 50px;
  }
}

.wpn_abakan .wpn_addon.scope,
.wpn_abakan_m1 .wpn_addon.scope,
.wpn_abakan_m2 .wpn_addon.scope {
  background-position: left -500px top -850px;
  width: 100px;
  height: 50px;
}

.wpn_addon.silencer
{
  background-position: left -900px top -50px;
  width: 50px;
  height: 50px;
}

.wpn_abakan , .wpn_abakan_m1, .wpn_abakan_m2,
.wpn_ak74, .wpn_ak74_m1 {
.wpn_addon.grenade-launcher{
    background-position: left -900px top 0px;
    width: 100px;
    height: 50px;
  }
}

.wpn_lr300 , .wpn_lr300_m1, .wpn_sig550,
.wpn_sig_m1, .wpn_sig_m2{
  .wpn_addon.grenade-launcher{
    background-position: left -850px top -150px;
    width: 100px;
    height: 50px;
  }
}

.wpn_vintorez, .wpn_val, .wpn_pb {
  .wpn_addon.silencer {
    display: none;
  }
}
