#map-wrapper {
  position: relative;
  border: 1px solid white;
  height: var(--wrapper-height);
}

.leaflet-tooltip {
  border: 11px solid !important;
  border-image: url(/assets/images/svg/interface/map-info-solid.svg) 11 stretch stretch !important;
  border-image-slice: 11 fill !important;
  background-size: contain !important;
  background-color: transparent !important;
  display: inline-block;
  max-width: 296px;
  min-width: 268px;
  height: auto;
  color: white !important;
}

.leaflet-tooltip-right::before {
  display: none;
}

.leaflet-tooltip-left::before {
  display: none;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  border: 11px solid !important;
  border-image: url(/assets/images/svg/interface/map-info-solid.svg) 11 stretch stretch !important;
  border-image-slice: 11 fill !important;
  background-size: contain !important;
  background-color: transparent !important;
  display: inline-block;
}

.leaflet-popup-close-button {
  color: white !important;
  border: 1px solid white !important;
}

.tooltip-text {
  word-wrap: break-word;
  white-space: pre-line;
}

.popup.header {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}


.popup.description {
  color: white;
  margin-bottom: 0.5rem;
}

.anomaly-section-info {
  color: white;
  margin-bottom: 0.5rem;
}

.leaflet-control-layers {
  background-color: black !important;
  color: white !important;
}

.leaflet-control-zoom-in {
background-color: rgba(9,10,10,1) !important;
}

.leaflet-control-zoom-out {
background-color: rgba(9,10,10,1) !important;
}

.leaflet-bar a.leaflet-disabled {
color: rgba(9,10,10,1) !important;
}

.leaflet-bar a {
color: white !important;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgb(255 255 255) !important;
}

.bottom {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.button {
  height: 25px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-inline: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #4d4d4d
}

.inventory {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(auto-fit, 50px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 0px;
  grid-auto-flow: dense;
  background-color: #e5e5f7;
  background-image: linear-gradient(#555656 1px, transparent 1px), linear-gradient(to right, #555656 1px, #090a0a 1px);
  background-size: 50px 50px;
  border-bottom: 1px solid #555656;
  margin-bottom: .5rem
}

.inventory::-webkit-scrollbar-track {
	background-color: rgba(9,10,10,1);
  border: 1px solid #555656;
}

.inventory::-webkit-scrollbar-thumb {
	background-color:rgba(9,10,10,1);
  border: 1px solid white;
  margin: 3px;
}

.inventory::-webkit-scrollbar {
  border: 1px solid white;
}

.inventory-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative
}

.inventory-item:hover {
  background-color: #4d4d4d
}

.inventory-item-image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  background-image: url(/assets/images/items/ui_icon_equipment.png)
}

.inventory-item-image.shoc {
  background-image: url(/assets/images/items/shoc_icon_equipment.png)
}

.inventory-item-image.cs {
  background-image: url(/assets/images/items/cs_icon_equipment.png)
}

.inventory-item-image.cop {
  background-image: url(/assets/images/items/cop_icon_equipment.png)
}

.wpn_addon {
  background-image: url(/assets/images/items/ui_icon_equipment.png);
  position: absolute;
}

.item-additional-info {
  position: absolute;
  color: #fff;
  display: flex;
  height: 25px;
  align-items: center;
  left: 5px;
  pointer-events: none
}

.inventory-item-count {
  border: 1px solid white;
  border-radius: 3px;
  padding-inline: 3px;
  font-size: .8rem;
  background-color: #101408
}

.inventory-item-percentage {
  position: absolute;
  color: #fff;
  border: 1px solid white;
  border-radius: 3px;
  padding-inline: 3px;
  font-size: 0.8rem;
  background-color: rgba(16, 20, 8, 1);
}

.inventory-item-upgrade {
  background-image: url(/assets/images/items/upgrade.svg);
  background-repeat: round;
  width: 25px;
  height: 100%;
  opacity: .75;
}
