

.af_medusa {
  background-position: 574px 1848px
}

.af_cristall_flower {
  background-position: left -550px top -200px
}

.af_cristall_flower.shoc {
  background-position: left -850px top -1150px
}

.af_night_star {
  background-position: left -500px top -200px
}

.af_night_star.shoc {
  background-position: left -800px top -1400px
}

.af_vyvert {
  background-position: left -700px top 0px
}

.af_vyvert.shoc {
  background-position: left -850px top -1200px
}

.af_gravi {
  background-position: left -750px top 0px
}

.af_gravi.shoc {
  background-position: left -800px top -1250px
}

.af_gold_fish {
  background-position: left -800px top 0px
}

.af_gold_fish.shoc {
  background-position: left -500px top -1500px
}

.af_cristall {
  background-position: left -700px top -200px
}

.af_cristall.shoc {
  background-position: left -850px top -1300px
}

.af_fireball {
  background-position: left -650px top -200px
}

.af_dummy_glassbeads {
  background-position: left -800px top -50px
}

.af_dummy_glassbeads.shoc {
  background-position: left -600px top -1300px
}

.af_eye {
  background-position: left -600px top -200px
}

.af_fire {
  background-position: left -550px top -50px
}

.af_blood {
  background-position: left -850px top 0px
}

.af_blood.shoc {
  background-position: left -850px top -1250px
}

.af_mincer_meat {
  background-position: left -900px top -800px
}

.af_mincer_meat.shoc {
  background-position: left -800px top -1300px
}

.af_soul {
  background-position: left -950px top -800px
}

.af_soul.shoc {
  background-position: left -800px top -1200px
}

.af_fuzz_kolobok {
  background-position: left -850px top -50px
}

.af_fuzz_kolobok.shoc {
  background-position: left -650px top -1300px
}

.af_baloon {
  background-position: left -600px top 0px
}

.af_glass {
  background-position: left -650px top 0px
}

.af_electra_sparkler {
  background-position: left -250px top -200px
}

.af_electra_sparkler.shoc {
  background-position: left -850px top -1450px
}

.af_electra_flash {
  background-position: left -500px top -50px
}

.af_electra_flash.shoc {
  background-position: left -800px top -1450px
}

.af_electra_moonlight {
  background-position: left -250px top -150px
}

.af_electra_moonlight.shoc {
  background-position: left -850px top -1400px
}

.af_dummy_battery {
  background-position: left -400px top -200px
}

.af_dummy_battery.shoc {
  background-position: left -850px top -1350px
}

.af_dummy_dummy {
  background-position: left -950px top -300px
}

.af_dummy_dummy.shoc {
  background-position: left -800px top -1350px
}

.af_ice {
  background-position: left -650px top -50px
}

.af_compass {
  background-position: left -600px top -50px
}

.af_oasis_heart {
  background-position: left -300px top -200px
}

.jup_b1_half_artifact {
  background-position: left -350px top -200px
}

.af_quest_b14_twisted {
  background-position: left -450px top -50px
}

.af_drops {
  background-position: left -750px top -1250px
}

.af_ameba_slime {
  background-position: left -800px top -1150px
}

.af_ameba_slug {
  background-position: left -750px top -1150px
}

.af_ameba_mica {
  background-position: left -700px top -1150px
}

.af_dummy_spring {
  background-position: left -750px top -1300px
}

.af_dummy_pellicle {
  background-position: left -750px top -1200px
}

.af_rusty_thorn {
  background-position: left -700px top -1250px
}

.af_rusty_kristall {
  background-position: left -700px top -1200px
}

.af_rusty_sea-urchin {
  background-position: left -700px top -1300px
}
