<tr class="stat-with-bar">
  <td class="title-column">
    <i class="{{iconStyle}} upgrade-property-icon"></i>
    <span class="title-with-bar">{{name}}:</span>
  </td>
  <td class="bar-column">
    <span class="value" *ngIf="isCompare">
      <span *ngIf="valueString.length > 0" [ngStyle]="{'color': valueStyle}"> {{valueString}}</span>
    </span>
    <span class="value" *ngIf="!isCompare">
      <span *ngIf="defaultValue" class="upgraded-param">{{defaultValueString}}</span>
      <span *ngIf="valueString.length > 0" [ngStyle]="{'color': valueStyle}"> {{valueString}}</span>
    </span>
  </td>
</tr>
