.margin-top {
  margin-top: 1rem;
  //background-color: #090a0a;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.dashboard .section {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.panel {
  height: 100%;
  border-image: url(/assets/images/svg/interface/header.svg) 21 24 12 19;
  border-top: 21px solid;
  border-right: 24px solid;
  border-bottom: 12px solid;
  border-left: 19px solid;
  margin-inline: 1rem;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.game-poster {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.game-poster img {
  max-height: 95%;
  max-width: 95%;
}

@media (max-width: 767px) {
  .panel {
      min-width: 400px;
      margin-block: .5rem;
      flex-grow: 1;
  }
}
