<app-header>
  <div class="sub-header-container">
    <div class="sub-header-item sub-header-left-item flex-grow right-arc"></div>
    <div id="layers-control" class="sub-headers">
      <div class="sub-header-item left-arc right-arc">
        <div class="sub-header-item-text">
          {{ 'mainTitle' | translate }}
        </div>
      </div>
    </div>
    <div class="sub-header-item sub-header-right-item left-arc"></div>
  </div>
</app-header>
<div class="container-fluid margin-top">
  <div class="row dashboard">
    <div class="col section panel"><a href="/map/shoc">
        <div class="game-poster shoc"><img src="assets/images/posters/shoc.jpg"></div>
      </a></div>
    <div class="col section panel"><a href="/map/cs">
        <div class="game-poster cs"><img src="assets/images/posters/cs2.jpg"></div>
      </a></div>
    <div class="col section panel"><a href="/map/cop">
        <div class="game-poster cop"><img src="assets/images/posters/cop.jpg"></div>
      </a></div>
  </div>
</div>