<app-header>
  <div class="sub-header-container">
    <div class="sub-header-left"></div>
    <div id="layers-control" class="sub-headers">
      <div class="sub-header-panel">
        {{ 'mainTitle' | translate }}
      </div>
    </div>
    <div class="sub-header-right"></div>
  </div>
</app-header>
<div _ngcontent-ng-c130309246="" class="container-fluid margin-top">
  <div _ngcontent-ng-c130309246="" class="row dashboard">
    <div _ngcontent-ng-c130309246="" class="col section panel"><a _ngcontent-ng-c130309246="" href="/map/shoc">
        <div _ngcontent-ng-c130309246="" class="game-poster shoc"><img _ngcontent-ng-c130309246=""
              src="assets/images/posters/shoc.jpg"></div>
      </a></div>
    <div _ngcontent-ng-c130309246="" class="col section panel"><a _ngcontent-ng-c130309246="" href="/map/cs">
        <div _ngcontent-ng-c130309246="" class="game-poster cs"><img _ngcontent-ng-c130309246=""
              src="assets/images/posters/cs2.jpg"></div>
      </a></div>
    <div _ngcontent-ng-c130309246="" class="col section panel"><a _ngcontent-ng-c130309246="" href="/map/cop">
        <div _ngcontent-ng-c130309246="" class="game-poster cop"><img _ngcontent-ng-c130309246=""
              src="assets/images/posters/cop.jpg"></div>
      </a></div>
  </div>
</div>
