/* You can add global styles to this file, and also import other style files */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

body {
  background-color: #090a0a;
}

.stalker-mark-4 {
  width:calc(var(--map-mark-width) * 4) !important;
}

.stalker-mark-2 {
  width:calc(var(--map-mark-width) * 2) !important;
}

.stalker-mark-1\.5 {
  width:calc(var(--map-mark-width) * 1.5) !important;
}

.stalker-mark {
  width:calc(var(--map-mark-width)) !important;
}
