/* You can add global styles to this file, and also import other style files */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

body {
  background-color: #090a0a;
}

.stalker-mark-4 {
  width:calc(var(--map-mark-width) * 4);
}

.stalker-mark-2 {
  width:calc(var(--map-mark-width) * 2);
}

.stalker-mark-1\.5 {
  width:calc(var(--map-mark-width) * 1.5);
}

.stalker-mark {
  width:calc(var(--map-mark-width));
}

.stalker-mark-4.underground {
  width:calc(var(--map-mark-width-underground) * 4) !important;
}

.stalker-mark-2.underground {
  width:calc(var(--map-mark-width-underground) * 2) !important;
}

.stalker-mark-1\.5.underground {
  width:calc(var(--map-mark-width-underground) * 1.5) !important;
}

.stalker-mark.underground {
  width:calc(var(--map-mark-width-underground)) !important;
}

.sub-header-container {
  margin-top: -5px;
  margin-bottom: 5px;
  height: 36px;
  display: flex;
}

.sub-header-left {
  border-image: url(/assets/images/svg/interface/header-map-panel-left.svg) 14 14 3 14 round stretch;
  border-top: 11px solid;
  border-right: 14px solid;
  border-bottom: 3px solid;
  border-left: 14px solid;
  flex-grow: 1;
}

.sub-header-panel {
  box-sizing: unset;
}

.sub-header-panel-scroll {
  margin-top: 10px;
  width: auto !important;
  display: flex;
  align-items: center;
}

.sub-header-right {
  border-image: url(/assets/images/svg/interface/header-map-panel-right.svg) 13 24 3 19 round stretch;
  border-top: 13px solid;
  border-right: 24px solid;
  border-bottom: 3px solid;
  border-left: 19px solid;
  flex-shrink: 0;
  color: #fff;
}

.sub-header-panel {
  border-image: url(/assets/images/svg/interface/header-map-panel.svg) 3 15 2 15 round stretch;
  border-top: 3px solid;
  border-right: 15px solid;
  border-bottom: 2px solid;
  border-left: 15px solid;
  width: 200px;
  flex-shrink: 0;
  color: #fff;
}

.sub-headers {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  margin-top: 10px;
  overflow-y: hidden;
  overflow-x: auto;
}

.sub-headers::-webkit-scrollbar {
  height: 0px;
}

.sub-header-checkbox {
  width: 100%;
  font-size: 12px;
}

.sub-header-panel label {
  box-sizing: unset;
  display: unset;
  margin-bottom: unset;
}

input[type=checkbox]:checked+label:before {
  background-color: #fff;
}

input[type=checkbox]+label:before {
  border-radius: 50%;
}

input[type=checkbox]+label:before {
  height: 18px;
  width: 18px;
  margin-right: 2px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid #777;
}

.sub-header-checkbox span {
  align-items: center;
  display: flex;
}

.stalker-icon::before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
  content: "";
  vertical-align: middle;
  margin-right: 0.25rem;
}

.icon-freedom::before {
  background-image: url(/assets/images/svg/factions/freedom.svg);
}

.icon-bandit::before {
  background-image: url(/assets/images/svg/factions/bandits.svg);
}

.icon-military::before, .icon-army::before {
  background-image: url(/assets/images/svg/factions/military.svg);
}

.icon-killer::before {
  background-image: url(/assets/images/svg/factions/mercs.svg);
}

.icon-csky::before {
  background-image: url(/assets/images/svg/factions/clear-sky.svg);
}

.icon-duty::before, .icon-dolg::before {
  background-image: url(/assets/images/svg/factions/duty.svg);
}

.icon-undeground-door::before {
  background-image: url(/assets/images/svg/marks/level_changers/underground_door.svg);
}

.icon-stalker::before, .icon-trader::before {
  background-image: url(/assets/images/svg/factions/stalkers.svg);
}

.icon-science::before, .icon-ecolog::before {
  background-image: url(/assets/images/svg/factions/scientists.svg);
}

.icon-bug::before {
  height: 1rem;
  width: 1rem;
  background-image: url(/assets/images/svg/interface/bug.svg);
}

@for $i from 0 through 40 {
    .inventory-item-x-#{$i} {
      background-position-x: $i * -50px;
    }

    .inventory-item-y-#{$i} {
      background-position-y: $i * -50px;
    }
}

@for $i from 6 through 10 {
    .inventory-columns-#{$i} {
      grid-template-columns: repeat($i, 50px) !important;
    }
}

@for $i from 1 through 10 {
    .inventory-item-width-#{$i} {
      grid-column: span $i;
    }

    .inventory-item-height-#{$i} {
      grid-row: span $i;
      height: $i * 50px
    }
}

.stalker-avatar.shoc {
  background-image: url(/assets/images/shoc_npc_unique.png)
}

.stalker-avatar.cs {
  background-image: url(/assets/images/cs_npc_unique.png)
}

.stalker-avatar.cop {
  background-image: url(/assets/images/cop_npc_unique.png)
}

.tooltip-directive {
  display: none;
  padding: 1rem;
  z-index: 100500;
  color:white;


  position: absolute;
  border: 11px solid;
  border-image: url(/assets/images/svg/interface/map-info-solid.svg) 11 stretch stretch;
  border-image-slice: 11 fill;
  background-size: contain;
  background-color: transparent;
  max-width: 296px;
  min-width: 268px;
  height: auto;
}

.tooltip-show {
  display: block;
  animation-delay: 0s;
}
