/* You can add global styles to this file, and also import other style files */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

body {
  background-color: #090a0a;
}

.sub-header-container {
  height: 26px;
  display: flex;
}

.left-arc {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    border-color: inherit;
    border-width: inherit;
    border-style: inherit;
}

.sub-header-item {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    display: flex;
}

.sub-header-item.flex-grow {
    flex-grow: 1;
}

.sub-header-left-item {
    justify-content: flex-end;
}

.sub-header-panel-scroll {
    padding-inline: 20px;
    cursor: pointer;
}

.right-arc {
    border-right: 0;

    &::after {
        content: '';
        border-bottom-left-radius: 8px 12px;
        border-top-left-radius:  8px 12px;
        border-width: inherit;
        border-style: inherit;
        border-color: inherit;
        border-right: 0;
        width: 7px;
        box-shadow: inherit;
        margin-top: calc(-1 * var(--border-width));
        margin-bottom: calc(-1 * var(--border-width));
    }
}

.sub-headers .sub-header-item {
    width: 200px;
    flex-shrink: 0;
}

.sub-header-left {
    flex-grow: 1;
    border-style: solid;
    border-right: 0;
    --border-width: 2px;
    border-width: var(--border-width);
}

.sub-headers {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.sub-headers::-webkit-scrollbar {
  height: 0px;
}

.sub-header-checkbox {
  width: 100%;
  font-size: 12px;
}

input[type=checkbox]:checked+label:before {
  background-color: #fff;
}

input[type=checkbox]+label:before {
  border-radius: 50%;
}

input[type=checkbox]+label:before {
  height: 16px;
  width: 16px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid #777;
}

.sub-header-checkbox span {
  align-items: center;
  display: flex;
  white-space: nowrap;
  column-gap: 5px;
}

.stalker-icon::before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
  content: "";
  vertical-align: middle;
  margin-right: 0.25rem;
}

.icon-freedom::before {
  background-image: url(/assets/images/svg/factions/freedom.svg);
}

.icon-bandit::before {
  background-image: url(/assets/images/svg/factions/bandits.svg);
}

.icon-military::before, .icon-army::before {
  background-image: url(/assets/images/svg/factions/military.svg);
}

.icon-killer::before {
  background-image: url(/assets/images/svg/factions/mercs.svg);
}

.icon-csky::before {
  background-image: url(/assets/images/svg/factions/clear-sky.svg);
}

.icon-duty::before, .icon-dolg::before {
  background-image: url(/assets/images/svg/factions/duty.svg);
}

.icon-undeground-door::before {
  background-image: url(/assets/images/svg/marks/level_changers/underground_door.svg);
}

.icon-stalker::before, .icon-trader::before {
  background-image: url(/assets/images/svg/factions/stalkers.svg);
}

.icon-science::before, .icon-ecolog::before {
  background-image: url(/assets/images/svg/factions/scientists.svg);
}

.icon-bug::before {
  height: 1rem;
  width: 1rem;
  background-image: url(/assets/images/svg/interface/bug.svg);
}

.inventory {
  display: grid;
  grid-template-columns: repeat(6, var(--inventory-cell-size));
  grid-template-rows: repeat(auto-fit, var(--inventory-cell-size));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 0px;
  grid-auto-flow: dense;
  background-color: #e5e5f7;
  background-image: linear-gradient(#555656 1px, transparent 1px), linear-gradient(to right, #555656 1px, #090a0a 1px);
  background-size: var(--inventory-cell-size) var(--inventory-cell-size);
  border-bottom: 1px solid #555656;
  margin-bottom: .5rem
}

.scrollbar::-webkit-scrollbar-track {
	background-color: rgba(9,10,10,1);
  border: 1px solid #555656;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color:rgba(9,10,10,1);
  border: 1px solid white;
  margin: 3px;
}

.scrollbar::-webkit-scrollbar {
  border: 1px solid white;
}

.inventory::-webkit-scrollbar-track {
	background-color: rgba(9,10,10,1);
  border: 1px solid #555656;
}

.inventory::-webkit-scrollbar-thumb {
	background-color:rgba(9,10,10,1);
  border: 1px solid white;
  margin: 3px;
}

.inventory::-webkit-scrollbar {
  border: 1px solid white;
}

.inventory-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative
}

.inventory-item:hover {
  background-color: #4d4d4d
}

.inventory-item-image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  background-image: url(/assets/images/items/ui_icon_equipment.png)
}

.inventory-item-image.shoc {
  background-image: url(/assets/images/items/shoc_icon_equipment.png)
}

.inventory-item-image.cs {
  background-image: url(/assets/images/items/cs_icon_equipment.png)
}

.inventory-item-image.cop {
  background-image: url(/assets/images/items/cop_icon_equipment.png)
}

.inventory-item-image.hoc {
  background-image: url(/assets/images/items/hoc_icon_equipment.png);
  background-size: calc(var(--inventory-cell-size) * var(--item-width-in-cell));
}

.item-additional-info {
  position: absolute;
  color: #fff;
  display: flex;
  height: 25px;
  align-items: center;
  left: 5px;
  pointer-events: none;

  .inventory-item-compare {
    pointer-events: all;
  }
}

.inventory-item-count {
  border: 1px solid white;
  border-radius: 3px;
  padding-inline: 3px;
  font-size: .8rem;
  background-color: #101408
}

.inventory-item-percentage {
  position: absolute;
  color: #fff;
  border: 1px solid white;
  border-radius: 3px;
  padding-inline: 3px;
  font-size: 0.8rem;
  background-color: rgba(16, 20, 8, 1);
}

.inventory-item-upgrade {
  background-image: url(/assets/images/items/upgrade.svg);
  background-repeat: round;
  width: 25px;
  height: 100%;
  opacity: .75;

  &.inventory-item-compare {
    background-image: url(/assets/images/items/compare.svg);
  }
}

@for $i from 0 through 50 {
    .inventory-item-x-#{$i} {
      background-position-x: calc($i * -1 * var(--inventory-cell-size));
    }

    .inventory-item-y-#{$i} {
      background-position-y: calc($i * -1 * var(--inventory-cell-size));
    }
}

@for $i from 6 through 10 {
    .inventory-columns-#{$i} {
      grid-template-columns: repeat($i, var(--inventory-cell-size)) !important;
      width: calc($i * var(--inventory-cell-size) + 1 );
    }
}

@for $i from 1 through 10 {
    .inventory-item-width-#{$i} {
      grid-column: span $i;
    }

    .inventory-item-height-#{$i} {
      grid-row: span $i;
      height: calc($i * var(--inventory-cell-size));
    }
}

.stalker-avatar.shoc {
  background-image: url(/assets/images/shoc_npc_unique.png)
}

.stalker-avatar.cs {
  background-image: url(/assets/images/cs_npc_unique.png)
}

.stalker-avatar.cop {
  background-image: url(/assets/images/cop_npc_unique.png)
}

.tooltip-directive {
}

.tooltip-show {
  visibility: visible;
  opacity: 1;
}

app-item-tooltip, app-upgrade-tooltip {
  position: absolute;
  display: block;
  padding: 1rem;
  z-index: 100500;
  color:white;
  top: 0;
  left: 0;
  border: 11px solid;
  border-image: url(/assets/images/svg/interface/map-info-solid.svg) 11 stretch stretch;
  border-image-slice: 11 fill;
  background-size: contain;
  background-color: transparent;
  max-width: 296px;
  min-width: 268px;
  height: auto;
  pointer-events: none;
  transition: visibility 0s, opacity 0s linear;
  transition-delay: 0s, 0;

  visibility: hidden;
  opacity: 0;
}

.custom-scroll::-webkit-scrollbar-track {
	background-color: rgba(9,10,10,1);
  border: 1px solid #555656;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color:rgba(9,10,10,1);
  border: 1px solid white;
  margin: 3px;
}

.custom-scroll::-webkit-scrollbar {
  border: 1px solid white;
}

@media (max-width: 1000px) {
    

    .sub-header-container {
        display: none;
    }
}

.upgrade-property-icon {
  margin-right: 0.25rem;
  width: 19px;
  height: 19px;

  &.cs {
    background-image: url(/assets/images/mechanic/ui_ingame2_common.png);

    &.ui_wp_propery_01 {
      background-position-x: -78px;
      background-position-y: -524px;
    }

    &.ui_wp_propery_02 {
      background-position-x: -78px;
      background-position-y: -543px;
    }

    &.ui_wp_propery_03 {
      background-position-x: -78px;
      background-position-y: -562px;
    }

    &.ui_wp_propery_04 {
      background-position-x: -78px;
      background-position-y: -581px;
    }

    &.ui_wp_propery_05 {
      background-position-x: -78px;
      background-position-y: -600px;
    }


    &.ui_wp_propery_06 {
      background-position-x: -97px;
      background-position-y: -524px;
    }

    &.ui_wp_propery_07 {
      background-position-x: -97px;
      background-position-y: -543px;
    }

    &.ui_wp_propery_08 {
      background-position-x: -97px;
      background-position-y: -562px;
    }

    &.ui_wp_propery_09 {
      background-position-x: -97px;
      background-position-y: -581px;
    }

    &.ui_wp_propery_10 {
      background-position-x: -97px;
      background-position-y: -600px;
    }


    &.ui_wp_propery_11 {
      background-position-x: -116px;
      background-position-y: -524px;
    }

    &.ui_wp_propery_12 {
      background-position-x: -116px;
      background-position-y: -543px;
    }

    &.ui_wp_propery_13 {
      background-position-x: -116px;
      background-position-y: -562px;
    }

    &.ui_wp_propery_14 {
      background-position-x: -116px;
      background-position-y: -581px;
    }



    &.ui_am_propery_01 {
      background-position-x: -135px;
      background-position-y: -524px;
    }

    &.ui_am_propery_02 {
      background-position-x: -135px;
      background-position-y: -543px;
    }

    &.ui_am_propery_03 {
      background-position-x: -135px;
      background-position-y: -562px;
    }

    &.ui_am_propery_04 {
      background-position-x: -135px;
      background-position-y: -581px;
    }

    &.ui_am_propery_05 {
      background-position-x: -135px;
      background-position-y: -600px;
    }


    &.ui_am_propery_06 {
      background-position-x: -154px;
      background-position-y: -524px;
    }

    &.ui_am_propery_07 {
      background-position-x: -154px;
      background-position-y: -543px;
    }

    &.ui_am_propery_08 {
      background-position-x: -154px;
      background-position-y: -562px;
    }

    &.ui_am_propery_09 {
      background-position-x: -154px;
      background-position-y: -581px;
    }

    &.ui_am_propery_10 {
      background-position-x: -154px;
      background-position-y: -600px;
    }


    &.ui_am_propery_11 {
      background-position-x: -173px;
      background-position-y: -524px;
    }

  }

  &.cop {
    background-image: url(/assets/images/mechanic/cop/ui_actor_sleep_screen.png);

    &.ui_wp_prop_scope_1\.5x {
      background-position-x: -730px;
      background-position-y: -510px;
    }

    &.ui_wp_prop_autolockscope {
      background-position-x: -692px;
      background-position-y: -528px;
    }

    &.ui_wp_prop_scope_6x {
      background-position-x: -711px;
      background-position-y: -528px;
    }

    &.ui_wp_prop_scope_5x {
      background-position-x: -730px;
      background-position-y: -528px;
    }

    &.ui_wp_prop_scope_attach {
      background-position-x: -692px;
      background-position-y: -547px;
    }

    &.ui_wp_prop_scope {
      background-position-x: -711px;
      background-position-y: -548px;
    }

    &.ui_wp_prop_contrast {
      background-position-x: -730px;
      background-position-y: -547px;
    }

    &.ui_wp_prop_nightvision {
      background-position-x: -692px;
      background-position-y: -566px;
    }

    &.ui_wp_prop_autofire {
      background-position-x: -711px;
      background-position-y: -566px;
    }

    &.ui_wp_prop_3xfire {
      background-position-x: -730px;
      background-position-y: -567px;
    }

    &.ui_wp_prop_skorostrelnost {
      background-position-x: -673px;
      background-position-y: -433px;
    }

    &.ui_wp_prop_otdacha {
      background-position-x: -673px;
      background-position-y: -452px;
    }

    &.ui_wp_prop_nadezhnost {
      background-position-x: -673px;
      background-position-y: -471px;
    }

    &.ui_wp_prop_ergonomics {
      background-position-x: -673px;
      background-position-y: -490px;
    }

    &.ui_wp_prop_nastilnost {
      background-position-x: -673px;
      background-position-y: -509px;
    }

    &.ui_wp_prop_tochnost {
      background-position-x: -673px;
      background-position-y: -528px;
    }

    &.ui_wp_prop_weight {
      background-position-x: -673px;
      background-position-y: -547px;
    }

    &.ui_wp_prop_optics {
      background-position-x: -673px;
      background-position-y: -566px;
    }

    &.ui_wp_prop_damage {
      background-position-x: -654px;
      background-position-y: -566px;
    }

    &.ui_am_prop_radio_restore {
      background-position-x: -806px;
      background-position-y: -433px;
    }

    &.ui_am_prop_chem {
      background-position-x: -787px;
      background-position-y: -452px;
    }

    &.ui_am_prop_restore_bleeding {
      background-position-x: -749px;
      background-position-y: -452px;
    }

    &.ui_am_prop_thermo {
      background-position-x: -787px;
      background-position-y: -471px;
    }

    &.ui_am_prop_autolock {
      background-position-x: -787px;
      background-position-y: -490px;
    }

    &.ui_am_prop_sprint {
      background-position-x: -787px;
      background-position-y: -509px;
    }

    &.ui_am_prop_scanner {
      background-position-x: -749px;
      background-position-y: -528px;
    }

    &.ui_am_prop_night_vision {
      background-position-x: -768px;
      background-position-y: -528px;
    }

    &.ui_am_prop_night_vision_2 {
      background-position-x: -787px;
      background-position-y: -528px;
    }

    &.ui_am_prop_night_vision_3 {
      background-position-x: -787px;
      background-position-y: -547px;
    }

    &.ui_am_prop_electro {
      background-position-x: -749px;
      background-position-y: -547px;
    }

    &.ui_am_prop_artefact {
      background-position-x: -768px;
      background-position-y: -547px;
    }

    &.ui_am_prop_satiety_restore_speed {
      background-position-x: -768px;
      background-position-y: -566px;
    }

    &.ui_am_prop_weightoutfit {
      background-position-x: -787px;
      background-position-y: -566px;
    }

    &.ui_am_prop_damage {
      background-position-x: -806px;
      background-position-y: -566px;
    }

    &.ui_am_prop_explosion_damage {
      background-position-x: -806px;
      background-position-y: -547px;
    }

    &.ui_am_prop_strike_damage {
      background-position-x: -749px;
      background-position-y: -490px;
    }

    &.ui_am_prop_time_period {
      background-position-x: -825px;
      background-position-y: -433px;
    }

    &.ui_am_prop_Vibros {
      background-position-x: -806px;
      background-position-y: -547px;
    }

    &.ui_wp_propery_01 {
        background-position-x: -78px;
        background-position-y: -524px;
    }

    &.ui_wp_propery_02 {
        background-position-x: -692px;
        background-position-y: -452px;
    }

    &.ui_wp_propery_03 {
      background-position-x: -692px;
      background-position-y: -471px;
    }

    &.ui_wp_propery_04 {
        background-position-x: -78px;
        background-position-y: -581px;
    }

    &.ui_wp_propery_05 {
        background-position-x: -78px;
        background-position-y: -600px;
    }


    &.ui_wp_propery_06 {
        background-position-x: -97px;
        background-position-y: -524px;
    }

    &.ui_wp_propery_07 {
        background-position-x: -711px;
        background-position-y: -452px;
    }

    &.ui_wp_propery_08 {
        background-position-x: -97px;
        background-position-y: -562px;
    }

    &.ui_wp_propery_09 {
        background-position-x: -711px;
        background-position-y: -490px;
    }

    &.ui_wp_propery_10 {
        background-position-x: -711px;
        background-position-y: -509px;
    }


    &.ui_wp_propery_11 {
        background-position-x: -116px;
        background-position-y: -524px;
    }

    &.ui_wp_propery_12 {
        background-position-x: -730px;
        background-position-y: -452px;
    }

    &.ui_wp_propery_13 {
        background-position-x: -116px;
        background-position-y: -562px;
    }

    &.ui_wp_propery_14 {
        background-position-x: -116px;
        background-position-y: -581px;
    }



    &.ui_am_propery_01 {
        background-position-x: -749px;
        background-position-y: -433px;
    }

    &.ui_am_propery_02 {
        background-position-x: -135px;
        background-position-y: -543px;
    }

    &.ui_am_propery_03 {
        background-position-x: -749px;
        background-position-y: -471px;
    }

    &.ui_am_propery_04 {
        background-position-x: -135px;
        background-position-y: -581px;
    }

    &.ui_am_propery_05 {
        background-position-x: -749px;
        background-position-y: -509px;
    }


    &.ui_am_propery_06 {
        background-position-x: -154px;
        background-position-y: -524px;
    }

    &.ui_am_propery_07 {
        background-position-x: -768px;
        background-position-y: -452px;
    }

    &.ui_am_propery_08 {
        background-position-x: -768px;
        background-position-y: -471px;
    }

    &.ui_am_propery_09 {
        background-position-x: -768px;
        background-position-y: -490px;
    }

    &.ui_am_propery_10 {
        background-position-x: -154px;
        background-position-y: -600px;
    }


    &.ui_am_propery_11 {
        background-position-x: -787px;
        background-position-y: -433px;
    }


    &.ui_am_propery_weight {
        background-position-x: -806px;
        background-position-y: -528px;
    }

  }
}

.meter {
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.meter > span {
  display: block;
  height: 90%;
  position: absolute;
  overflow: hidden;
}

app-compare {
  position: absolute;
  z-index: 5000;
}

.upgrade-item-image-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgrade-item-image {
  background-image: url(/assets/images/mechanic/cop/ui_actor_weapons.png)
}

.upgrade-item-image.E_STLK,.upgrade-item-image.E_HLMET,.upgrade-item-image.WP_RPG7 {
  background-image: url(/assets/images/mechanic/cop/ui_actor_armor.png)
}

.game-icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;

  &.shoc {
    background-image: url(/assets/images/svg/interface/games/shoc.svg);
  }

  &.cs {
    background-image: url(/assets/images/svg/interface/games/cs.svg)
  }

  &.cop {
    background-image: url(/assets/images/svg/interface/games/cop.svg)
  }

  &.hoc {
    background-image: url(/assets/images/svg/interface/games/hoc.svg)
  }
}

.mechanic-popup .leaflet-popup-content {
  max-height: calc(var(--wrapper-height) - 100px);
  max-width: calc(100vw - 100px);
  overflow: scroll;
}

.inventory-item-count-hoc {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: calc((35px / var(--initial-inventory-cell-size)) * var(--inventory-cell-size));
  color: white;
}

.leaflet-popup-content-fit-content .leaflet-popup-content {
    width: fit-content !important;
}